@tailwind base;
@tailwind components;
@tailwind utilities;
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html, body {
  height:100%;
  min-height:100%;
}
#grid-layout {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  grid-gap: 8px;
  grid-template-rows: min-content auto min-content;
}

@media (min-width: 768px) {
  #grid-layout {
    grid-template-columns: min-content auto;
    grid-template-rows: 1fr min-content;
  }
}