@import "../variables";
.message {
  padding: 4px 8px;
  margin-bottom: 4px;
  background-color: $primary-light;
  border-radius: 4px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);

  max-width: 100%;
  word-wrap: break-word;

  p {
    padding: 0;
  }
  span.bold {
    font-weight: bold;
    display: inline-block;
    min-width: 40px;
  }
}
